/* line 1, ../src/scss/demo.scss */
.sidy__content {
  background: #f3efe0; }

/* line 5, ../src/scss/demo.scss */
.sidy__panel {
  background: #48a770; }

/* line 9, ../src/scss/demo.scss */
.sidy__panel ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 15, ../src/scss/demo.scss */
.sidy__panel h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 2em; }

/* line 24, ../src/scss/demo.scss */
.sidy__panel ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s; }

/* line 38, ../src/scss/demo.scss */
.sidy__panel ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2); }

/* line 42, ../src/scss/demo.scss */
.sidy__panel ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px transparent;
  color: #fff; }

@font-face {
  font-family: 'linecons';
  src: url("../fonts/linecons/linecons.eot");
  src: url("../fonts/linecons/linecons.eot?#iefix") format("embedded-opentype"), url("../fonts/linecons/linecons.woff") format("woff"), url("../fonts/linecons/linecons.ttf") format("truetype"), url("../fonts/linecons/linecons.svg#linecons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 60, ../src/scss/demo.scss */
.icon:before {
  font-family: 'linecons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.8em;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased; }

/* line 74, ../src/scss/demo.scss */
.icon-female:before {
  content: "\f182"; }

/* line 77, ../src/scss/demo.scss */
.icon-male:before {
  content: "\f183"; }

/* line 80, ../src/scss/demo.scss */
.icon-arrow-left:before {
  content: "\e032"; }

/* line 83, ../src/scss/demo.scss */
.icon-arrow-left-2:before {
  content: "\e034"; }

/* line 86, ../src/scss/demo.scss */
.icon-arrow-left-3:before {
  content: "\e036"; }

/* line 89, ../src/scss/demo.scss */
.icon-arrow-left-4:before {
  content: "\e038"; }

/* line 92, ../src/scss/demo.scss */
.icon-arrow-right:before {
  content: "\e035"; }

/* line 95, ../src/scss/demo.scss */
.icon-arrow-right-2:before {
  content: "\e037"; }

/* line 98, ../src/scss/demo.scss */
.icon-arrow-right-3:before {
  content: "\e039"; }

/* line 101, ../src/scss/demo.scss */
.icon-arrow-right-4:before {
  content: "\e033"; }

/* line 105, ../src/scss/demo.scss */
.icon-phone:before {
  content: "\e000"; }

/* line 108, ../src/scss/demo.scss */
.icon-news:before {
  content: "\e001"; }

/* line 111, ../src/scss/demo.scss */
.icon-photo:before {
  content: "\e002"; }

/* line 114, ../src/scss/demo.scss */
.icon-shop:before {
  content: "\e003"; }

/* line 117, ../src/scss/demo.scss */
.icon-wallet:before {
  content: "\e004"; }

/* line 120, ../src/scss/demo.scss */
.icon-t-shirt:before {
  content: "\e005"; }

/* line 123, ../src/scss/demo.scss */
.icon-heart:before {
  content: "\e006"; }

/* line 126, ../src/scss/demo.scss */
.icon-cloud:before {
  content: "\e007"; }

/* line 129, ../src/scss/demo.scss */
.icon-display:before {
  content: "\e008"; }

/* line 132, ../src/scss/demo.scss */
.icon-diamond:before {
  content: "\e009"; }

/* line 135, ../src/scss/demo.scss */
.icon-banknote:before {
  content: "\e00a"; }

/* line 138, ../src/scss/demo.scss */
.icon-data:before {
  content: "\e00b"; }

/* line 141, ../src/scss/demo.scss */
.icon-music:before {
  content: "\e00c"; }

/* line 144, ../src/scss/demo.scss */
.icon-location:before {
  content: "\e00d"; }

/* line 147, ../src/scss/demo.scss */
.icon-star:before {
  content: "\e00e"; }

/* line 150, ../src/scss/demo.scss */
.icon-tv:before {
  content: "\e00f"; }

/* line 153, ../src/scss/demo.scss */
.icon-eye:before {
  content: "\e010"; }

/* line 156, ../src/scss/demo.scss */
.icon-megaphone:before {
  content: "\e011"; }

/* line 159, ../src/scss/demo.scss */
.icon-study:before {
  content: "\e012"; }

/* line 162, ../src/scss/demo.scss */
.icon-bubble:before {
  content: "\e013"; }

/* line 165, ../src/scss/demo.scss */
.icon-sound:before {
  content: "\e014"; }

/* line 168, ../src/scss/demo.scss */
.icon-video:before {
  content: "\e015"; }

/* line 171, ../src/scss/demo.scss */
.icon-stack:before {
  content: "\e016"; }

/* line 174, ../src/scss/demo.scss */
.icon-lab:before {
  content: "\e017"; }

/* line 177, ../src/scss/demo.scss */
.icon-food:before {
  content: "\e018"; }

/* line 180, ../src/scss/demo.scss */
.icon-cup:before {
  content: "\e019"; }

/* line 183, ../src/scss/demo.scss */
.icon-trash:before {
  content: "\e01a"; }

/* line 186, ../src/scss/demo.scss */
.icon-user:before {
  content: "\e01b"; }

/* line 189, ../src/scss/demo.scss */
.icon-key:before {
  content: "\e01c"; }

/* line 192, ../src/scss/demo.scss */
.icon-fire:before {
  content: "\e01d"; }

/* line 195, ../src/scss/demo.scss */
.icon-clip:before {
  content: "\e01e"; }

/* line 198, ../src/scss/demo.scss */
.icon-mail:before {
  content: "\e01f"; }

/* line 201, ../src/scss/demo.scss */
.icon-search:before {
  content: "\e020"; }

/* line 204, ../src/scss/demo.scss */
.icon-settings:before {
  content: "\e021"; }

/* line 207, ../src/scss/demo.scss */
.icon-like:before {
  content: "\e022"; }

/* line 210, ../src/scss/demo.scss */
.icon-calendar:before {
  content: "\e023"; }

/* line 213, ../src/scss/demo.scss */
.icon-camera:before {
  content: "\e024"; }

/* line 216, ../src/scss/demo.scss */
.icon-tag:before {
  content: "\e025"; }

/* line 219, ../src/scss/demo.scss */
.icon-note:before {
  content: "\e026"; }

/* line 222, ../src/scss/demo.scss */
.icon-clock:before {
  content: "\e027"; }

/* line 225, ../src/scss/demo.scss */
.icon-lock:before {
  content: "\e028"; }

/* line 228, ../src/scss/demo.scss */
.icon-vynil:before {
  content: "\e029"; }

/* line 231, ../src/scss/demo.scss */
.icon-truck:before {
  content: "\e02a"; }

/* line 234, ../src/scss/demo.scss */
.icon-paperplane:before {
  content: "\e02b"; }

/* line 237, ../src/scss/demo.scss */
.icon-bulb:before {
  content: "\e02c"; }

/* line 240, ../src/scss/demo.scss */
.icon-pen:before {
  content: "\e02d"; }

/* line 243, ../src/scss/demo.scss */
.icon-params:before {
  content: "\e02e"; }

/* line 246, ../src/scss/demo.scss */
.icon-world:before {
  content: "\e02f"; }
