/* line 1, ../src/scss/demo.scss */
body {
  background: #444;
  color: #48a770;
  font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-serif; }

/* line 8, ../src/scss/demo.scss */
a {
  text-decoration: none;
  color: #48a770;
  outline: none; }

/* line 14, ../src/scss/demo.scss */
a:hover, a:focus {
  color: #2c774b;
  outline: none; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 20, ../src/scss/demo.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

/* line 26, ../src/scss/demo.scss */
.clearfix:after {
  clear: both; }

/* line 30, ../src/scss/demo.scss */
.codrops-header,
.codrops-top {
  font-family: 'Lato', Arial, sans-serif; }

/* line 35, ../src/scss/demo.scss */
.codrops-header {
  margin: 0 auto 3em;
  padding: 3em;
  text-align: center; }

/* line 41, ../src/scss/demo.scss */
.codrops-header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.3; }

/* line 48, ../src/scss/demo.scss */
.codrops-header span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 60%;
  color: #aca89a; }

/* To Navigation Style */
/* line 56, ../src/scss/demo.scss */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.69em;
  line-height: 2.2;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.3); }

/* line 65, ../src/scss/demo.scss */
.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 0.1em; }

/* line 72, ../src/scss/demo.scss */
.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #333; }

/* line 77, ../src/scss/demo.scss */
.codrops-top span.right {
  float: right; }

/* line 81, ../src/scss/demo.scss */
.codrops-top span.right a {
  display: block;
  float: left; }

/* line 86, ../src/scss/demo.scss */
.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased; }

/* line 98, ../src/scss/demo.scss */
.codrops-icon-drop:before {
  content: "\e001"; }

/* line 102, ../src/scss/demo.scss */
.codrops-icon-prev:before {
  content: "\e004"; }

/* line 106, ../src/scss/demo.scss */
.main {
  max-width: 69em;
  margin: 0 auto; }

/* line 111, ../src/scss/demo.scss */
.column {
  float: left;
  width: 50%;
  padding: 0 2em;
  min-height: 300px;
  position: relative;
  text-align: right; }

/* line 120, ../src/scss/demo.scss */
.column:nth-child(2) {
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  text-align: left; }

/* line 125, ../src/scss/demo.scss */
.column p {
  font-weight: 300;
  font-size: 2em;
  padding: 0 0 0.5em;
  margin: 0;
  line-height: 1.5; }

/* line 133, ../src/scss/demo.scss */
button {
  border: none;
  padding: 0.6em 1.2em;
  background: #388a5a;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px; }

/* line 148, ../src/scss/demo.scss */
button:hover {
  background: #2c774b; }

/* line 152, ../src/scss/demo.scss */
.info {
  text-align: center;
  font-size: 1.5em;
  margin-top: 3em;
  clear: both;
  padding: 3em 0;
  opacity: 0.7;
  color: #aca89a; }

/* line 162, ../src/scss/demo.scss */
.info a {
  font-weight: 700;
  font-size: 0.9em; }

/* line 169, ../src/scss/demo.scss */
.sidy__content {
  background: #f3efe0; }

/* line 173, ../src/scss/demo.scss */
.sidy__panel {
  background: #48a770; }

/* line 177, ../src/scss/demo.scss */
.sidy__panel ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 183, ../src/scss/demo.scss */
.sidy__panel h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 2em; }

/* line 192, ../src/scss/demo.scss */
.sidy__panel ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s; }

/* line 206, ../src/scss/demo.scss */
.sidy__panel ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2); }

/* line 210, ../src/scss/demo.scss */
.sidy__panel ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px transparent;
  color: #fff; }

@font-face {
  font-family: 'linecons';
  src: url("fonts/linecons/linecons.eot");
  src: url("fonts/linecons/linecons.eot?#iefix") format("embedded-opentype"), url("fonts/linecons/linecons.woff") format("woff"), url("fonts/linecons/linecons.ttf") format("truetype"), url("fonts/linecons/linecons.svg#linecons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 228, ../src/scss/demo.scss */
.icon:before {
  font-family: 'linecons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.8em;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased; }

/* line 242, ../src/scss/demo.scss */
.icon-female:before {
  content: "\f182"; }

/* line 245, ../src/scss/demo.scss */
.icon-male:before {
  content: "\f183"; }

/* line 248, ../src/scss/demo.scss */
.icon-arrow-left:before {
  content: "\e032"; }

/* line 251, ../src/scss/demo.scss */
.icon-arrow-left-2:before {
  content: "\e034"; }

/* line 254, ../src/scss/demo.scss */
.icon-arrow-left-3:before {
  content: "\e036"; }

/* line 257, ../src/scss/demo.scss */
.icon-arrow-left-4:before {
  content: "\e038"; }

/* line 260, ../src/scss/demo.scss */
.icon-arrow-right:before {
  content: "\e035"; }

/* line 263, ../src/scss/demo.scss */
.icon-arrow-right-2:before {
  content: "\e037"; }

/* line 266, ../src/scss/demo.scss */
.icon-arrow-right-3:before {
  content: "\e039"; }

/* line 269, ../src/scss/demo.scss */
.icon-arrow-right-4:before {
  content: "\e033"; }

/* line 273, ../src/scss/demo.scss */
.icon-phone:before {
  content: "\e000"; }

/* line 276, ../src/scss/demo.scss */
.icon-news:before {
  content: "\e001"; }

/* line 279, ../src/scss/demo.scss */
.icon-photo:before {
  content: "\e002"; }

/* line 282, ../src/scss/demo.scss */
.icon-shop:before {
  content: "\e003"; }

/* line 285, ../src/scss/demo.scss */
.icon-wallet:before {
  content: "\e004"; }

/* line 288, ../src/scss/demo.scss */
.icon-t-shirt:before {
  content: "\e005"; }

/* line 291, ../src/scss/demo.scss */
.icon-heart:before {
  content: "\e006"; }

/* line 294, ../src/scss/demo.scss */
.icon-cloud:before {
  content: "\e007"; }

/* line 297, ../src/scss/demo.scss */
.icon-display:before {
  content: "\e008"; }

/* line 300, ../src/scss/demo.scss */
.icon-diamond:before {
  content: "\e009"; }

/* line 303, ../src/scss/demo.scss */
.icon-banknote:before {
  content: "\e00a"; }

/* line 306, ../src/scss/demo.scss */
.icon-data:before {
  content: "\e00b"; }

/* line 309, ../src/scss/demo.scss */
.icon-music:before {
  content: "\e00c"; }

/* line 312, ../src/scss/demo.scss */
.icon-location:before {
  content: "\e00d"; }

/* line 315, ../src/scss/demo.scss */
.icon-star:before {
  content: "\e00e"; }

/* line 318, ../src/scss/demo.scss */
.icon-tv:before {
  content: "\e00f"; }

/* line 321, ../src/scss/demo.scss */
.icon-eye:before {
  content: "\e010"; }

/* line 324, ../src/scss/demo.scss */
.icon-megaphone:before {
  content: "\e011"; }

/* line 327, ../src/scss/demo.scss */
.icon-study:before {
  content: "\e012"; }

/* line 330, ../src/scss/demo.scss */
.icon-bubble:before {
  content: "\e013"; }

/* line 333, ../src/scss/demo.scss */
.icon-sound:before {
  content: "\e014"; }

/* line 336, ../src/scss/demo.scss */
.icon-video:before {
  content: "\e015"; }

/* line 339, ../src/scss/demo.scss */
.icon-stack:before {
  content: "\e016"; }

/* line 342, ../src/scss/demo.scss */
.icon-lab:before {
  content: "\e017"; }

/* line 345, ../src/scss/demo.scss */
.icon-food:before {
  content: "\e018"; }

/* line 348, ../src/scss/demo.scss */
.icon-cup:before {
  content: "\e019"; }

/* line 351, ../src/scss/demo.scss */
.icon-trash:before {
  content: "\e01a"; }

/* line 354, ../src/scss/demo.scss */
.icon-user:before {
  content: "\e01b"; }

/* line 357, ../src/scss/demo.scss */
.icon-key:before {
  content: "\e01c"; }

/* line 360, ../src/scss/demo.scss */
.icon-fire:before {
  content: "\e01d"; }

/* line 363, ../src/scss/demo.scss */
.icon-clip:before {
  content: "\e01e"; }

/* line 366, ../src/scss/demo.scss */
.icon-mail:before {
  content: "\e01f"; }

/* line 369, ../src/scss/demo.scss */
.icon-search:before {
  content: "\e020"; }

/* line 372, ../src/scss/demo.scss */
.icon-settings:before {
  content: "\e021"; }

/* line 375, ../src/scss/demo.scss */
.icon-like:before {
  content: "\e022"; }

/* line 378, ../src/scss/demo.scss */
.icon-calendar:before {
  content: "\e023"; }

/* line 381, ../src/scss/demo.scss */
.icon-camera:before {
  content: "\e024"; }

/* line 384, ../src/scss/demo.scss */
.icon-tag:before {
  content: "\e025"; }

/* line 387, ../src/scss/demo.scss */
.icon-note:before {
  content: "\e026"; }

/* line 390, ../src/scss/demo.scss */
.icon-clock:before {
  content: "\e027"; }

/* line 393, ../src/scss/demo.scss */
.icon-lock:before {
  content: "\e028"; }

/* line 396, ../src/scss/demo.scss */
.icon-vynil:before {
  content: "\e029"; }

/* line 399, ../src/scss/demo.scss */
.icon-truck:before {
  content: "\e02a"; }

/* line 402, ../src/scss/demo.scss */
.icon-paperplane:before {
  content: "\e02b"; }

/* line 405, ../src/scss/demo.scss */
.icon-bulb:before {
  content: "\e02c"; }

/* line 408, ../src/scss/demo.scss */
.icon-pen:before {
  content: "\e02d"; }

/* line 411, ../src/scss/demo.scss */
.icon-params:before {
  content: "\e02e"; }

/* line 414, ../src/scss/demo.scss */
.icon-world:before {
  content: "\e02f"; }
