body {
	background: #444;
	color: #48a770;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a:hover, a:focus {
	color: #2c774b;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
	margin: 0 auto 3em;
	padding: 3em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 400;
	background: rgba(255,255,255,0.3);
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #388a5a;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: #2c774b;
}

.info {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
	opacity: 0.7;
	color: #aca89a;
}

.info a {
	font-weight: 700;
	font-size: 0.9em;
}



.sidy__content {
	background: #f3efe0;
}

.sidy__panel {
	background: #48a770;
}

.sidy__panel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidy__panel h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.sidy__panel ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.sidy__panel ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.sidy__panel ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


@font-face {
	font-family: 'linecons';
	src:url('fonts/linecons/linecons.eot');
	src:url('fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('fonts/linecons/linecons.woff') format('woff'),
		url('fonts/linecons/linecons.ttf') format('truetype'),
		url('fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'linecons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 0.8em;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-arrow-left:before {
	content: "\e032";
}
.icon-arrow-left-2:before {
	content: "\e034";
}
.icon-arrow-left-3:before {
	content: "\e036";
}
.icon-arrow-left-4:before {
	content: "\e038";
}
.icon-arrow-right:before {
	content: "\e035";
}
.icon-arrow-right-2:before {
	content: "\e037";
}
.icon-arrow-right-3:before {
	content: "\e039";
}
.icon-arrow-right-4:before {
	content: "\e033";
}

.icon-phone:before {
	content: "\e000";
}
.icon-news:before {
	content: "\e001";
}
.icon-photo:before {
	content: "\e002";
}
.icon-shop:before {
	content: "\e003";
}
.icon-wallet:before {
	content: "\e004";
}
.icon-t-shirt:before {
	content: "\e005";
}
.icon-heart:before {
	content: "\e006";
}
.icon-cloud:before {
	content: "\e007";
}
.icon-display:before {
	content: "\e008";
}
.icon-diamond:before {
	content: "\e009";
}
.icon-banknote:before {
	content: "\e00a";
}
.icon-data:before {
	content: "\e00b";
}
.icon-music:before {
	content: "\e00c";
}
.icon-location:before {
	content: "\e00d";
}
.icon-star:before {
	content: "\e00e";
}
.icon-tv:before {
	content: "\e00f";
}
.icon-eye:before {
	content: "\e010";
}
.icon-megaphone:before {
	content: "\e011";
}
.icon-study:before {
	content: "\e012";
}
.icon-bubble:before {
	content: "\e013";
}
.icon-sound:before {
	content: "\e014";
}
.icon-video:before {
	content: "\e015";
}
.icon-stack:before {
	content: "\e016";
}
.icon-lab:before {
	content: "\e017";
}
.icon-food:before {
	content: "\e018";
}
.icon-cup:before {
	content: "\e019";
}
.icon-trash:before {
	content: "\e01a";
}
.icon-user:before {
	content: "\e01b";
}
.icon-key:before {
	content: "\e01c";
}
.icon-fire:before {
	content: "\e01d";
}
.icon-clip:before {
	content: "\e01e";
}
.icon-mail:before {
	content: "\e01f";
}
.icon-search:before {
	content: "\e020";
}
.icon-settings:before {
	content: "\e021";
}
.icon-like:before {
	content: "\e022";
}
.icon-calendar:before {
	content: "\e023";
}
.icon-camera:before {
	content: "\e024";
}
.icon-tag:before {
	content: "\e025";
}
.icon-note:before {
	content: "\e026";
}
.icon-clock:before {
	content: "\e027";
}
.icon-lock:before {
	content: "\e028";
}
.icon-vynil:before {
	content: "\e029";
}
.icon-truck:before {
	content: "\e02a";
}
.icon-paperplane:before {
	content: "\e02b";
}
.icon-bulb:before {
	content: "\e02c";
}
.icon-pen:before {
	content: "\e02d";
}
.icon-params:before {
	content: "\e02e";
}
.icon-world:before {
	content: "\e02f";
}

